@using FrontendDentalCenter.Areas.Medico.Models
@using FrontendDentalCenter.Models
@using FrontendDentalCenter.ViewModels
@{
    var Historia = ViewBag.HistoriaList as List<HistoriaMedicaViewModel>;
    var cabHistoia = ViewBag.CabHistoriaList as List<CabHistoriaMedicaViewModel>;
    var medicos = ViewBag.MedicoList as List<MedicoViewModel>;
    var Nombre = ViewBag.Nombres as string;
    var Apellido = ViewBag.Apellidos as string;
    var idCita = ViewBag.idCita as int?;
    var ListHistoriaMedica = ViewBag.ListHistoriaMed as List<HistoriaMedicaViewModel>;
    var tratamiento = ViewBag.Tratamiento as IEnumerable<TratamientoViewModel>;
    var medicamento = ViewBag.Medicamento as IEnumerable<MedicamentoViewModel>;
    var idM = ViewBag.idM as int?;

}
<H2>Paciente @Nombre @Apellido</H2>
<a href="@Url.Action("Index","Medico",new {idM = idM})" id="retorno" button class="btn btn-dark" role="button">Retornar</a>
<div class="containerTable">
    <table class="table table-striped" id="tbListadoHistoria">
        <thead>
            <tr>
                <th>Id historía médica</th>
                <th>Nombre del medico</th>
                <th>Apellido del medico</th>
                <th>Id receta</th>
                <th>Id tratamiento</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Historia.Count(); i++)
            {
                <tr>
                    <td>@Historia[i].IdHistoriaMedica</td>
                    <td>@medicos[i].Nombre</td>
                    <td>@medicos[i].Apellido</td>
                    <td>@Historia[i].IdRecetaMedica</td>
                    <td>@Historia[i].IdTratamiento</td>
                </tr>
            }
        </tbody>
    </table>
    <div style="border: 2px double lightblue;" id="Det_Historia" class="rounded">
        <div style="border: 2px double #32bfc9; margin: 10px;" class="rounded">
            <div style="margin: 10px;" name="Receta" class="Receta">
                 <h3>RECETA</h3>
                 <div class="col-md-8">
                     <div class="form-group">
                         <label>Fecha</label>
                         <input type="text" class="form-control" id="txtFecha" readonly placeholder=@DateTime.Now; />
                     </div>
                 </div>
                 <div>
                    <label></label>
                 </div>
                <label>Medicamentos de la receta</label>
                <button class="btn btn-warning" id="btnAgregarMedicamento">Agregar medicamento</button>
                <table class="table table-striped" id="tbListaMedicamentos">
                    <thead>
                        <tr>
                            <th>Medicamento</th>
                            <th>Dosis</th>
                            <th>Unidad de medida</th>
                            <th>Descripción</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <button id="btnGuardarReceta" class="btn btn-secondary">Guardar Receta</button>
            </div>
        </div>
        <div style="border: 2px double #32bfc9;margin: 10px;" class="Tratamiento rounded">
            <div style="margin: 10px;" name="Tratamiento" class="Tratamiento">
                <h3>TRATAMIENTO</h3>
                <div>
                    <lable>Seleccione Tratamiento</lable>
                </div>
                <div class="custom-select">
                    <select class="form-select" id="selectTratamiento" aria-label="Floating label select example">
                        <option selected></option>
                        @foreach (var item in tratamiento)
                        {
                            <option>@item.Descripcion</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div style="margin: 10px;">
            <button class="btn btn-success" id="guardarDetalleHistoria">Guardar</button>
        </div>
        <input type="text" class="form-control" id="txtNombre" value="@Nombre"/>
        <input type="text" class="form-control" id="txtApellido" value="@Apellido" />
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalRegistroMedicamento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Medicamento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="custom-select">
                            <label>Medicamento</label>
                            <select class="form-select" id="selectMedicamento" aria-label="Floating label select example">
                                <option selected></option>
                                @foreach (var item in medicamento)
                                {
                                    <option>@item.Nombre</option>
                                }
                            </select>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Dosis (número)</label>
                                <input type="text" class="form-control" id="txtDosis" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="custom-select">
                            <label>Unidad de Medida</label>
                            <select class="form-select" id="selectUnidades" aria-label="Floating label select example">
                                <option selected></option>
                                <option selected>mg</option>
                                <option selected>mL</option>
                                <option selected>cc</option>
                                <option selected>cdita</option>
                                <option selected>gotas</option>
                                <option selected>píldora</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Descripción</label>
                                <input type="text" class="form-control" id="txtDescripcion" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnGuardarMedicamento">Guardar Medicamento</button>
            </div>
        </div>
    </div>
</div>

<style>
    .containerTable{
        width: 50%;
    }
    #Det_Historia{
        width: 37%;
        position: absolute;
        right: 10%;
        top: 10%;
    }
</style>
<script>
    $("#btnAgregarMedicamento").click(function () {
        var myModal = new bootstrap.Modal(document.getElementById('modalRegistroMedicamento'))
        $("#selectMedicamento").val("");
        $("#txtDosis").val("");
        $("#selectUnidades").val("");
        $("#txtDescripcion").val("");
        myModal.show();
    });
    $("#btnGuardarMedicamento").click(function (){
        var medicamento = $("#selectMedicamento").val();
        var dosis = $("#txtDosis").val();
        var unidadMedida = $("#selectUnidades").val();
        var descripcion = $("#txtDescripcion").val();

        var newRow = $("<tr>");
        var medicamentoCell = $("<td>").text(medicamento);
        var dosisCell = $("<td>").text(dosis);
        var unidadMedidaCell = $("<td>").text(unidadMedida);
        var descripcionCell = $("<td>").text(descripcion);

        newRow.append(medicamentoCell, dosisCell, unidadMedidaCell, descripcionCell);
        $("#tbListaMedicamentos").append(newRow);

        $("#modalRegistroMedicamento").modal("hide");
    });
    $("#btnGuardarReceta").click(function (){
        var vFecha = new Date();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GuardarReceta","Medico", new{Area="Medico"})',
            Cache: false,
            data: {
                fecha: vFecha,
            },
            success: function (valorRespuesta) {
                if (valorRespuesta) {
                    var filas = $("#tbListaMedicamentos");
                    var filasLength = filas.length;

                    //Recorrer las filas utilizando un iterador for
                    for (var i = 0; i < filasLength; i++) {
                        var fila = filas[i];
                        var columnas = $(filas[i]).find('td');
                        let vMedicamento = columnas.eq(0).text();
                        let vDosis = columnas.eq(1).text();
                        let vUnidad = columnas.eq(2).text();
                        let vDescripcion = columnas.eq(3).text();

                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("GuardarDetReceta", "Medico", new { Area = "Medico" })',
                            Cache: false,
                            data: {
                            medicamento: vMedicamento,
                            dosis: vDosis,
                            unidad: vUnidad,
                            descripcion: vDescripcion
                            },
                            success: function (valorRespuesta) {
                                if (valorRespuesta) {
                                    alert("Se Registró el detalle correctamente!");
                                } else {
                                    alert("Ocurrió un error al registrar el detalle!");
                                }
                            }
                        });

                    }

                } else {
                    alert("Ocurrió un error al registrar la Cita!");
                }
            }
        });
    });

    $("#guardarDetalleHistoria").click(function () {

        var vTratamiento = $("#selectTratamiento").val();
        var vIdCita = @idCita;
        var vIdPac = $("#txtNombre").val();
        var vApellido = $("#txtApellido").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GuardarDetHistoria", "Medico", new{Area="Medico"})',
            Cache: false,
            data: {
                tratamiento: vTratamiento,
                idCita: vIdCita,
                idPac: vIdPac,
                apellido: vApellido
            },
            success: function (valorRespuesta){
                if(valorRespuesta){
                    alert("Detalle agregado correctamente!")
                    location.reload();
                }else{
                    alert("Ocurrió un error al agregar detalle!")
                }
            }
        });
    });

</script>
<style>
    #retorno {
        position: fixed;
        right: 15px;
        bottom: 70px;
    }
</style>

