@using FrontendDentalCenter.ViewModels
@{
    var medicos = ViewBag.MedicoList as IEnumerable<FrontendDentalCenter.ViewModels.MedicoViewModel>;//puede ser motivo de error
}
<table class="table table-striped" id="tbListadoMedico">
    <thead>
        <tr>
            <th>Id Medico</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Genero</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in medicos)
        {
            <tr>
                <td>@item.IdMedico</td>
                <td>@item.Nombre</td>
                <td>@item.Apellido</td>
                <td>@item.Genero</td>
                <td>
                    <button class="btn btn-warning btnEditarMedico" id="btnEditarMedico" data-id=" @item.IdMedico">Editar</button>
                    <button class="btn btn-danger btnEliminarMedico" id="btnEliminarMedico" data-id="@item.IdMedico">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    loadDatatable();
    function loadDatatable() {
    $('#tbListadoMedico').DataTable();
    }
</script>