@using FrontendDentalCenter.Models
@using FrontendDentalCenter.ViewModels
@{
    var pacientes = ViewBag.PacientesList as IEnumerable<PacienteViewModel>;
}




<table class="table table-striped" id="tbListadoPaciente">
    <thead>
        <tr>
            <th>IdPaciente</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dni</th>
            <th>FechaDeNac</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Frecuente</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in pacientes)
        {
            <tr>
                <td>@item.IdPaciente</td>
                <td>@item.Nombre</td>
                <td>@item.Apellido</td>
                <td>@item.Dni</td>
                <td>@item.FechaDeNac</td>
                <td>@item.Telefono</td>
                <td>@item.Correo</td>
                <td>@item.Frecuente</td>
            </tr>
        }
    </tbody>
</table>


<script>
    loadDatatable();
    function loadDatatable() {
        //$("#tbListadoCliente").DataTable();
        let table = $("#tbListadoPaciente").DataTable({
            lengthChange: false,
            buttons: ['copy', 'excel', 'pdf', 'colvis', 'print']

        });

        table.buttons().container()
            .insertBefore("#tbListadoCliente_filter");
    }

</script>