@using FrontendDentalCenter.Areas.Medico.Models
@using FrontendDentalCenter.ViewModels

@{
    var pacientes = ViewBag.pacienteList as IEnumerable<PacienteViewModel>;
    var Medico = ViewBag.Medico as MedicoViewModel;
}




<table class="table table-striped" id="tbListadoHistoriaMedica">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dni</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in pacientes)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Apellido</td>
                <td>@item.Dni</td>
                <td>
                    <a href="@Url.Action("ListaHistoriaMedica","Medico",new{ id=item.IdPaciente, Nombre=item.Nombre,Apellido=@item.Apellido})" class="btn btn-success">Ver Historial</a>
                    <a href="@Url.Action("RegistrarHistoria", "HistoriaMedica" , new { Nombre=item.Nombre,Correo =@item.Correo ,Apellido=@item.Apellido, Telefono=@item.Telefono, Dni=@item.Dni, NombreM =Medico.Nombre, ApellidoM = Medico.Apellido})" class="btn btn-success">Registrar Historial</a>
 
                    
                </td>
            </tr>
        }
    </tbody>
</table>





<style>
    body {
        font-family: arial narrow;
    }

</style>

