@using FrontendDentalCenter.Areas.Medico.Models
@using FrontendDentalCenter.ViewModels

@{
    var pacientes = ViewBag.pacienteList as IEnumerable<PacienteViewModel>;
    var Medico = ViewBag.Medico as MedicoViewModel;
    var citas = ViewBag.citaList as IEnumerable<CitaViewModel>;
}
<div>
    <a href="@Url.Action("Index","Medico",new {idM = Medico.IdMedico})" id="retorno" button class="btn btn-dark" role="button">Retornar</a>
</div>
<table class="table table-striped" id="tbListadoHistoriaMedica">
    <thead>
        <tr>
            <th>Id Cita</th>
            <th>Estado</th>
            <th>Fecha y Hora</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dni</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*foreach (var item in pacientes)
        {
            @foreach (var item2 in citas)
            {
                var idCita = item2.IdCita;
                <tr>
                    <td>@item2.IdCita</td>
                    <td>@item2.Estado</td>
                    <td>@item2.FechaHora</td>
                    <td>@item.Nombre</td>
                    <td>@item.Apellido</td>
                    <td>@item.Dni</td>
                    <td>
                        <a href="@Url.Action("ListaHistoriaMedica","Medico",new{ id=item.IdPaciente, Nombre=item.Nombre,Apellido=@item.Apellido,idCita=@item2.IdCita, idM = Medico.IdMedico})" class="btn btn-success">Ver Historial</a>
                        @*<a href="@Url.Action("RegistrarHistoria", "HistoriaMedica" , new { Nombre=item.Nombre,Correo =@item.Correo ,Apellido=@item.Apellido, Telefono=@item.Telefono, Dni=@item.Dni, NombreM =Medico.Nombre, ApellidoM = Medico.Apellido})" class="btn btn-success">Registrar Historial</a>*@
                    @*</td>
                </tr>
        
            }
        }*@
        @foreach(var item in citas){
            var Nombre = "";
            var Apellido = "";
            int DNI = 0 ;
            foreach(var item2 in pacientes){
                if(item.IdPaciente==item2.IdPaciente){
                    Nombre = item2.Nombre;
                    Apellido = item2.Apellido;
                    DNI = (int)item2.Dni;
                }

            }
            <tr>
                <td>@item.IdCita</td>
                <td>@item.Estado</td>
                <td>@item.FechaHora</td>
                <td>@Nombre</td>
                <td>@Apellido</td>
                <td>@DNI</td>
                <td>
                    <a href="@Url.Action("ListaHistoriaMedica","Medico",new{ id=item.IdPaciente, Nombre=Nombre,Apellido=Apellido,idCita=@item.IdCita, idM = Medico.IdMedico})" class="btn btn-success">Ver Historial</a>
                    @*<a href="@Url.Action("RegistrarHistoria", "HistoriaMedica" , new { Nombre=item.Nombre,Correo =@item.Correo ,Apellido=@item.Apellido, Telefono=@item.Telefono, Dni=@item.Dni, NombreM =Medico.Nombre, ApellidoM = Medico.Apellido})" class="btn btn-success">Registrar Historial</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>





<style>
    body {
        font-family: arial narrow;
    }
    #retorno{
        position: fixed;
        right: 15px;
        bottom: 70px;
    }
</style>