@using FrontendDentalCenter.ViewModels;
@using FrontendDentalCenter.Areas.Paciente.Models;
@{
    var paciente = ViewBag.Paciente as PacienteViewModel;
    var medico = ViewBag.MedicoList as IEnumerable<MedicoViewModel>;
    var especialidad = ViewBag.Especialidades as IEnumerable<EspecialidadViewModel>;
}

<div id="imagen">
    <img src="https://i.imgur.com/yEVJxai.png" width="360" height="500" />
</div>
<div class="container">
    <div class="container" id="contenedor">
        <div>
            <lable>Seleccione Especialidad</lable>
        </div>
        <div class="custom-select">
            <select class="form-select" id="selectEspecialidad" aria-label="Floating label select example">
                <option selected></option>
                @foreach (var item in especialidad)
                {
                    <option>@item.Descripcion</option>
                }
            </select>
        </div>
        <div>
            <lable>Seleccione Doctor</lable>
        </div>
        <div class="custom-select">
            <select class="form-select" id="selectMedico" aria-label="Floating label select example">
                <option selected></option>
                @foreach (var item in medico)
                {
                    <option>@item.Nombre @item.Apellido</option>
                }
            </select>

        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Nombres</label>
                <input type="text" class="form-control" id="txtNombre" readonly placeholder=@paciente.Nombre />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Apellidos</label>
                <input type="text" class="form-control" id="txtApellido" readonly placeholder=@paciente.Apellido />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>DNI</label>
                <input type="text" class="form-control" id="txtDNI" readonly placeholder=@paciente.Dni />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" id="txtEmail" readonly placeholder=@paciente.Correo />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Telefono</label>
                <input type="text" class="form-control" id="txtTelefono" readonly placeholder=@paciente.Telefono />
            </div>
        </div>
        <div>
            <lable>Seleccione Fecha y Hora:</lable>
        </div>
        <fieldset class="dato-fecha">
            <label>
                <span>Fecha:</span>
                <input type="date" name="fecha" id="txtFecha">
            </label>
            <label>
                <span>Hora:</span>
                <input type="time" name="hora" id="txtHora">
            </label>
        </fieldset>
        <label></label>
        <div>
            <button class="btn btn-success" type="submit" id="btnGenerarCita">
                Generar Cita
            </button>
            <a id="retorno" href="@Url.Action("Index","Home",new {idP = paciente.IdPaciente })" button class="btn btn-danger" role="button">Cancelar</a>
        </div>
    </div>
</div>
<style>
    .custom-select{
        width: 33.3%;
    }
    #imagen{
        position: absolute;
        right: 15%;
        top: 12%;
    }
    #contenedor{
        position: relative;
        left: 10%;
        top: 12%;
    }
</style>
<script>
    $("#btnGenerarCita").click(function () {
        let vIdPaciente = @paciente.IdPaciente
        let vEspecialidad = $('#selectEspecialidad').val();
        let vNombreMedico = $("#selectMedico").val()
        let vEstado = "Activa"
        let vFecha = $("#txtFecha").val()
        let vHora = $("#txtHora").val()
        $.ajax({
            type: "POST",
            url: '@Url.Action("CrearCita","Cita", new{Area="Paciente"})',
            Cache: false,
            data: {
                idPaciente: vIdPaciente,
                especialidad: vEspecialidad,
                nombreMedico: vNombreMedico,
                estado: vEstado,
                fecha: vFecha,
                hora: vHora,
            },
            success: function (valorRespuesta) {
                if (valorRespuesta) {
                    alert("Se registró la cita correctamente!");
                    window.location = "http://localhost:5181/Paciente?idP="+vIdPaciente;
                } else {
                    alert("Ocurrió un error al registrar la Cita!");
                }
            }
        });
    });

</script>